[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "==1.1.1"
"rs3clans" = "==1.1.3"
"beautifulsoup4" = "*"
colorama = "*"
sqlalchemy = "*"
pandas = "*"
matplotlib = "*"
lxml = "*"
alembic = "*"
psycopg2-binary = "*"
feedparser = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.6"
