[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = {extras = ["voice"],editable = true,ref = "rewrite",git = "https://github.com/Rapptz/discord.py"}
"rs3clans" = "==1.0.8"
"beautifulsoup4" = "*"
colorama = "*"
sqlalchemy = "*"
pandas = "*"
matplotlib = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.6"
